*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      background-color: rgba(177, 125, 177, 0.233);
      /* color: white; */
}

.header{
      width: 100%;
      background-color: white;
      padding: 10px;
}
.header h2{
      color: red;
      position: relative;
      top: 10px;
      margin-left: 30px;
}
.header h2::before{
      content: "<<";
      color: blue;
      font-weight: bolder;
      /* font-size: xx-large; */
      margin-right: 10px;
}
.header i{
      text-align: right;
      display: block;
      position: relative;
      top: -13px;
      font-size: 18px;
      color: red;    
      margin-right: 25px; 
}
.header i::before{
      color: black;
      font-size: 22px;
      margin-right: 9px;
}

.icons{
      display: block;
      float: right;
      font-size: 20px;
      margin-top: 20px;
      margin-right: 18px;
      /* word-break: break-all; */
      word-spacing: 3px;
}
.icons i::before{
      margin-right: 15px;
      /* display: block; */
      margin-left: 10px;
      font-size: 20px;
}

.container{
      width: 94%;
      margin: 0 auto;
      margin-top: 70px;
      display: grid;
      grid-template-columns: repeat(6, 222px);
      grid-template-rows: repeat(2,300px);
      grid-row-gap: 13px;
      grid-column-gap: 20px;
}

.same{
      /* border: 2px solid white; */
      background-color:white;
      border-radius: 3px;
      padding: 10px;
      border: 1px solid black;
}
h3{
      text-align: center;
      margin-top: 10px;
      font-size: 23px;
}
.date{
      text-align: center;
}
.wells{
      margin-top: 30px;
      margin-left: 22px;
      border-right: 1px solid black;
      margin-right: 100px;
}
.wells::first-line{
      font-size: 40px;
      color: rgb(0, 217, 255);
}
.same i{
      position: relative;
      top: -60px;
      left: 140px;
      font-size: 30px;
      color: rgb(0, 217, 255);
}
.pipetting{
      position: relative;
      top: -50px;
      left: 130px;
      margin-right: 40px;
}
.bottomline{
      border-top: 1px solid black;
      
}
.view{
      position: relative;
      top: -55px;
      margin-left: 8px;
}
p.Program {
      position: relative;
      left: 120px;
      top: -92px; 
      /* margin-right: 8px;     */
}
p.Program::first-line{
      text-indent: 18px;
}

.sideline{
      border-left: 1px solid black;
      height: 73px;
      position: relative;
      left: 102px;
      margin-left: -3px;
      top: -1px;
}

