/* .header{


    font-weight: bold;
    font-size: large;
}

.header,.row{
    display: flex;
    flex-wrap: wrap;
}
.header div,.row div{
    padding: 10px;
    min-width: 100px;
    margin: 5px;
} */

table,tr,th,td{
    padding: 10px;
    margin: 5px;
    min-width: 120px;
    border-collapse: collapse

};

table.table {
    font-size: larger;
    border: 2px solid blue;
}
div#body {
    text-align: center;
}
table.table {
    font-size: larger;
    border: 2px solid blue;
}


.header {
    width: 212px;
    border: 2px solid #009688;
    padding: 17px;
    margin: 8px;
}
form.form {
    line-height: 2;
    padding: 8px;
    margin: auto;
}
input {
    width: 193px;
    border-radius: 5px;
    height: 20px;
}
button {
    text-align: center;
    padding: 4px;
    margin-left: 50px;
    background: green;
    color: white;
    width: 100px;
    border-radius: 7px;
    line-height: 2;
    /* font-size: 11px; */
    margin-top: 9px;
}